.header {
    grid-area: h;
    background-color: white;
    height: 80px;
    border: 1px solid gainsboro;

}

.login {
    color: #005bbb;
    font-weight: bold;
    margin: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.photo img{
    margin-top: 5px;
    width: 30px;


}

.photo{
    margin-right: 7px;
    overflow: hidden

}

.logo img {
    width: 70px;
    padding-top: 5px;
    padding-left: 15px;
}

.loginBlock{
    float: right;
}
.loginBlock a{
    color: midnightblue;
    text-decoration: none;
    margin: 15px;

}
.button{
    margin: auto 0;
}
.button button{
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 15px;
}