.descriptionInfo {
    padding: 10px 10px 10px 20px;
    background-color: #FFF;
    border: 1px solid gainsboro;
    border-radius: 10px;

}

.descriptionInfo img {
    width: 150px;

}

.photo {
    margin-top: 10px;
    font-weight: bold;

}

.status {
    margin-top: 10px;

}